absl-py==2.1.0
alembic==1.16.1
annotated-types==0.7.0
anyio==4.9.0
astunparse==1.6.3
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.8.2
blis==1.0.1
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.2
catalogue==2.0.10
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.19.0
cloudpickle==3.1.1
colorama==0.4.6
comtypes==1.2.0
confection==0.1.5
contourpy==1.1.0
cryptography==43.0.0
customtkinter==5.2.2
cvzone==1.6.1
cycler==0.11.0
cymem==2.0.8
darkdetect==0.8.0
databricks-sdk==0.54.0
Deprecated==1.2.18
dnspython==2.6.1
docker==7.1.0
EasyProcess==1.1
Eel==0.16.0
email_validator==2.2.0
entrypoint2==1.1
fastapi==0.115.12
fastapi-cli==0.0.7
filelock==3.17.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.41.0
fsspec==2024.12.0
future==0.18.3
gast==0.4.0
gcloud==0.18.3
gevent-websocket==0.10.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.27.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==2.0.2
grpcio==1.62.1
gunicorn==23.0.0
h11==0.16.0
h5py==3.10.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
idna==3.6
importlib_metadata==8.6.1
itsdangerous==2.2.0
jax==0.4.26
Jinja2==3.1.6
joblib==1.4.0
jwcrypto==1.5.6
keras==2.12.0
kiwisolver==1.4.4
langcodes==3.4.1
language_data==1.2.0
libclang==18.1.1
Mako==1.3.10
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
mediapipe==0.10.2
ml-dtypes==0.3.2
mlflow==2.22.0
mlflow-skinny==2.22.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
murmurhash==1.0.10
namex==0.0.7
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
opencv-contrib-python==4.11.0.86
opencv-contrib-python-headless==4.11.0.86
opencv-python==4.11.0.86
opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
opt-einsum==3.3.0
optree==0.14.1
orjson==3.10.18
packaging==24.0
pandas==2.1.2
Pillow==10.0.0
preshed==3.0.9
protobuf==3.20.3
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.13
PyAutoGUI==0.9.54
pybind11==2.13.6
pycaw==20230407
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.9.2
pydantic-extra-types==2.10.5
pydantic-settings==2.9.1
pydantic_core==2.23.4
pygame==2.6.0
PyGetWindow==0.0.9
Pygments==2.17.2
pymongo==4.8.0
PyMsgBox==1.0.9
PyMuPDF==1.24.11
pynput==1.7.6
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
Pyrebase4==4.8.0
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
pyshorteners==1.0.1
python-dateutil==2.8.2
python-dotenv==1.1.0
python-jwt==4.1.0
python-multipart==0.0.20
pyttsx3==2.90
pytweening==1.0.7
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.2
qrcode==7.4.2
regex==2024.9.11
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rich==13.7.1
rich-toolkit==0.14.7
rsa==4.9
scikit-learn==1.4.2
scipy==1.13.0
screen-brightness-control==0.21.0
seaborn==0.13.2
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.4.6
soupsieve==2.4.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacytextblob==4.0.0
SpeechRecognition==3.10.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
srsly==2.4.8
starlette==0.46.2
sympy==1.13.1
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
textblob==0.15.3
thinc==8.3.2
threadpoolctl==3.4.0
torch==2.6.0+cpu
torchaudio==2.6.0+cpu
torchvision==0.21.0+cpu
tqdm==4.66.5
ttkbootstrap==1.14.1
typer==0.12.5
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2023.3
ujson==5.10.0
ultralytics==8.3.68
ultralytics-thop==2.0.14
urllib3==1.26.20
uvicorn==0.34.2
waitress==3.0.2
wasabi==1.1.3
watchfiles==1.1.0
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.0.2
whichcraft==0.6.1
wikipedia==1.4.0
WMI==1.5.1
wrapt==1.14.1
zipp==3.21.0
zope.event==5.0
zope.interface==6.0
